/*From Eric Meyer, resets all CSS*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/*
    Below is the CSS styling for the wesbite.
*/

:root{
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    --primary-color: #000000;	
    --secondary-color: #8FBC8B;
    --background-color: #9abaa1;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    /*background-color: var(--background-color);*/
}

nav{
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    box-shadow: 0 .1rem .5rem #3f3a3a;
    justify-content: space-between;
    gap: 1rem;
    padding: 0rem .7rem;
}

nav .options{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav a{
    color:#3f3a3a;
    text-decoration: none;
}


a:hover{
    color: var(--secondary-color);
}

.header{
    margin-top: 0rem;
    max-width: 100%;
    overflow: hidden;
}

.header img{
    max-width: 100%;
    height: auto;

}

.attributes{
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.rectangle{
    height: 20rem;
    width: 15rem;
    border-radius: 5%;
    color: rgb(63, 67, 64);
    background-color:rgb(169, 199, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .05rem .12rem .16rem #2c2e2c;
    transition: transform .5s;
}

.intro {
    font-size: 2rem;
}

/* .rectangle::after{
    content: "passionate about xyz";
    display: none;
}

.rectangle::before{
    font-style: italic;
    content: "not passionate about anything";
} */

/* .driven::after{
    content: "passionate about xyz";
    display: none;
}

.driven::before{
    font-style: italic;
    content: "not passionate about anything";
} */

.rectangle:hover{
    background-color: var(--secondary-color);
    transform: scale(1.1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.aboutMe{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10rem;
    padding-bottom: 10rem;
}

/*
    Not a circle because of the padding and box-sizing, but I like the different shape.
    However, if you want to go back to a circle, apply padding on all edges.
*/
.aboutMe .personalImage{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    padding-right: 10%;
    box-sizing: border-box;
}

.aboutMe .comp{
    padding: 5%;
    text-align: center;
    box-sizing: border-box;
}

.aboutMe .blurb{
    font-size: 2.2rem;
    color: #3f3a3a;
    line-height: 3rem;

}

.aboutMe .cs{
    color: #8FBC8B;
}

.experience{
    max-width: 100%;
    overflow: hidden;
}

.experienceRect {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.experience img{
        max-width: 100%;
        height: auto;
        box-shadow: 2rem white;
}

.expText {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
}

.experience .rectangle{
    height: 30rem;
    width: 23rem;
    border-radius: 5%;
    color: rgb(63, 67, 64);
    background-color:rgb(169, 199, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .05rem .12rem .16rem #2c2e2c;
    transition: transform .5s;
}

.experience .rectangle:hover .expParagraph{
    display: none;
}

.experience .rectangle:hover .expSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.experience .expParagraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    box-sizing: border-box;
}

.experience .expSkills{
    display: none;
}

.experience .expSkills .rectangle{
    height: 5rem;
    width: 10rem;
    border-radius: 5%;
    color: rgb(63, 67, 64);
    background-color:rgb(169, 199, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: .05rem .12rem .16rem #2c2e2c;
    transition: transform .5s;
}

.experience li{
    line-height: 1.2rem;
    white-space: normal;
    text-align: center;
}

.experience h4{
    color:#505d52;
    margin: .5rem;
    font-style: italic;
    white-space: normal;
    text-align: center;
}

.experience h2{
    margin: .5rem;
    white-space: normal;
    text-align: center;
}











/*
    Smaller screen provisions
    */

@media screen and (max-width: 480px) {
    .aboutMe .blurb{
        font-size: 1rem;
    }
}