/*From Eric Meyer, resets all CSS*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/*
    Below is the CSS styling for the wesbite.
*/

:root{
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    --primary-color: #000000;	
    --secondary-color: #8FBC8B;
    --background-color: #9abaa1;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

nav{
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    box-shadow: 0 .3vw 1vw #3f3a3a;
    justify-content: space-between;
    gap: 2vw;
    padding: 0 1vw;
}

nav .options{
    display: flex;
    align-items: center;
    gap: 3vw;
}

nav a{
    color:#3f3a3a;
    text-decoration: none;
}


a:hover{
    color: var(--secondary-color);
}

.header{
    margin-top: 0;
    max-width: 100%;
    overflow: hidden;
}

.header img{
    max-width: 100%;
    height: auto;

}

.attributes{
    margin: 2vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.rectangle{
    height: 22vw;
    width: 18vw;
    border-radius: 5%;
    color: rgb(63, 67, 64);
    background-color:rgb(169, 199, 169);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .05vw .19vw .16vw #2c2e2c;
    transition: transform .5s;
}

.intro {
    font-size: 2vw;
}

.rectangle:hover{
    background-color: var(--secondary-color);
    transform: scale(1.1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.aboutMe{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 3vw;
    padding-bottom: 10vh;
}

/*
    Not a circle because of the padding and box-sizing, but I like the different shape.
    However, if you want to go back to a circle, apply padding on all edges.
*/
.aboutMe .personalImage{
    position: relative;
    max-width: 70%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    padding-right: 5vw;
    padding-left: 1vw;
    box-sizing: border-box;
}


.aboutMe .blurb{
    position: relative;
    padding: 2vw 2vh;
    text-align: center;
    box-sizing: border-box;
    font-size: 2.2vw;
    color: #3f3a3a;
    line-height: 3vw;

}

.aboutMe .cs{
    color: #8FBC8B;
}

.experience{
    max-width: 100%;
    overflow: hidden;
}

.experienceRect {
    margin: 2vw 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    z-index: 1;
}

.experience img{
        max-width: 100%;
        height: auto;
        box-shadow: 2vw white;
        margin-bottom: -37vw;
}

.experience .expSkills h4 {
    font-style: none;
    font-size: 1vw;
    color:#323432;
    display: flex;
    font-family:'Bodoni MT', 'Bodoni 72' serif;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
}

.experience .rectangle{
    height: 32vw;
    width: 23vw;
    border-radius: 5%;
    color: rgb(63, 67, 64);
    background-color:rgba(169, 199, 169, 0.649);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .1vh .16vh .16vh #2c2e2c;
    transition: transform .5s;
}

.experience .rectangle:hover .expParagraph{
    display: none;
    
}

.experience .rectangle:hover .expSkills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.experience .expParagraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.experience .expSkills{
    display: none;
}

.experience .expSkills .rectangle{
    height: 12vh;
    width: 15vw;
    border-radius: 5%;
    color: rgb(63, 67, 64);
    background-color:rgb(169, 199, 169);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    box-shadow: .1vh .16vh .16vh #2c2e2c;
    padding: 20%;
    transition: transform .5s;
    box-sizing: border-box;
}

.experience .expSkills .rectangle:hover{
    transform: scale(1,1);
}

.experience .skillRect{
    margin: 20%;
}

.experience li{
    font-size: 1.2vw;
    line-height: 1.8vw;
    margin: 3% 1%;
    white-space: normal;
    text-align: center;
}

.experience h4{
    color:#505d52;
    font-size: 1vw;
    margin: 3% 1%;
    line-height: 1vw;
    font-style: italic;
    white-space: normal;
    text-align: center;
}

.experience h2{
    font-size: 1.6vw;
    margin: 5% 5%;
    white-space: normal;
    text-align: center;
}




footer{
    font-size: 2vw;
    background-color: #6a7d6e;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-top: 10%;
}






/* 
    Smaller screen provisions
    

@media screen and (max-width: 480px) {
    .aboutMe .blurb{
        font-size: 1rem;
    }
} */