/*From Eric Meyer, resets all CSS*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/*
    General styling.
*/
:root{
    --font-family: 'Gill Sans MT';
    /* --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana; */
    --primary-color: #000000;	
    --secondary-color: #8FBC8B;
    --background-color: #9abaa1;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

a:hover{
    color: var(--secondary-color);
}

/*
    Navigation bar styling.
*/
nav{
    height: 6vh;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    box-shadow: 0 .3vw 1vw #3f3a3a;
    justify-content: space-between;
    gap: 2vw;
    padding-left: 1vw;
    padding-right: 1.5vw;
    z-index: 5;
}

nav .options{
    display: flex;
    align-items: center;
    gap: 3vw;
}

nav a{
    color:#3f3a3a;
    text-decoration: none;
}

nav li{
    font-size: 1.5vw;
}

nav p{
    font-size: 2vw;
}

/*
    Header words.
*/
.welcome{
    /* display: flex;
    position: relative; */
    text-align: center;
    /* justify-content: center; */
}

img{
    width: 100%;
    height: auto;
    z-index:0;
}

.welcome .welcomeText{
    font-size: 10vw;
    font-family: 'Playfair Display';
    /* padding: 2vw; */
    line-height: 7vw;
    /* transform: translate(0, -50%, ); */
    margin-top: -28vw;
    margin-right: 39vw;
    animation: reveal 2s ease-in;
    color:#faf9f9;
    font-weight: 100;
    z-index: 2;
}

@keyframes reveal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*
    Styling for the connection icons on the welcome header.
*/

.welcome .introConnect{
    background-color: white;
    margin-top: 17vw;
    margin-right: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.welcome .introConnect a{
    cursor: pointer;
    text-decoration: none;
}

.welcome .introConnect img{
    position: relative;
    max-width: 2vw;
    height: auto;
    box-sizing: border-box;
}
/*
    Provides the return to the top of the website.
*/
.backToTop{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1vw;
    box-sizing: border-box;
}

.backToTop img{
    max-width: 2vw;
    height: auto;
    z-index: 2;
}

/*
    Styling for the personal statement.
*/

.upperMargin{
    margin-top: 15vw;
}

.lowerMargin{
    margin-bottom: 15vw;
}

.personalStatement{
    padding-right: 15vw;
    padding-left: 15vw;
    text-align: center;
    opacity: 0;
}

.personalStatementAnimation{
    opacity: 1;
    animation: appear 2s linear;
}

.personalStatement h1{
    font-size: 4vw;
    font-weight: 100;
    font-style: normal;
}

.personalStatement h2{
    line-height: 4vw;
    font-size: 3.5vw;
    font-weight: 75;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*
    CSS for total experience section. Formats.
*/

.jobs{
    display: grid;
    grid-template-rows: 3fr;
}
/*
    Customizes each experience section.
*/

.singleExp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: end; */
    /* align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    padding: 5vw;
    overflow: hidden;
}

.rectangleScoular{
    width: 35vw;
    height: 30vw;
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
    border-radius: 5%;
    background-image: url("images/scoularBuild.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.expTextRightScoular{
    box-sizing: border-box;
    width: 35vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: space-evenly;
    padding-left: 2vw;
    padding-bottom: 2vw;
}

.singleExp .rectangleNSAA{
    width: 45vw;
    height: 30vw;
    justify-self: start;
    border-radius: 5%;
    background-image: url("images/nsaaBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.singleExp .expTextLeftNSAA{
    box-sizing: border-box;
    width: 45vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;
    padding-right: 2vw;
    padding-bottom: 2vw;
}

.singleExp .rectangleWeb{
    width: 38vw;
    height: 26vw;
    justify-self: end;
    border-radius: 5%;
    background-image: url("images/newMock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.singleExp .expTextLeftWebsite{
    box-sizing: border-box;
    width: 35vw;
    height: 26vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 2vw;
    padding-bottom: 2vw;
}

.singleExp .rectanglePremier{
    width: 33vw;
    height: 33vw;
    border-radius: 5%;
    background-image: url("images/premierWithBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.singleExp .expTextRightPremier{
    box-sizing: border-box;
    width: 40vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    /* padding-left: 2vw; */
    padding-bottom: 2vw;
}

/*
    Creates the general skills view of the experience rectangle.
    Provides information on skills gained in previous/current positions.
*/

.singleExp .rectangle{
    height: 30%;
    width: 50%;
    border-radius: 5%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .1% .16% .16% #2c2e2c;
    font-size: 1.5vw;
    transition: transform .5s;
    box-sizing: border-box;
}

/*
    Styling for the Scoular skills component.
*/

.singleExp .rectangleScoular .expSkillsScoular {
    display: none;
    border-radius: 5%;
}

.singleExp .rectangleScoular .expSkillsScoularBG {
    display: none;
    background-image: url("images/scoularBuild.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    border-radius: 5%;
}

.singleExp .rectangleScoular .expSkillsScoular h4 {
    font-style: none;
    font-size: 1vw;
    color:#323432;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
}

/*
    Hover functionality of the Scoular experience class.
*/
.singleExp .rectangleScoular:hover {
    background-image: none;
}

.singleExp .rectangleScoular:hover .expSkillsScoular{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
}

.singleExp .rectangleScoular:hover .expSkillsScoularBG{
    width: 35vw;
    height: 30vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*
    Styling for the NSAA skills component.
*/

.singleExp .rectangleNSAA .expSkillsNSAA {
    display: none;
    border-radius: 5%;
}

.expSkillsNSAA .col {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

.expSkillsNSAA .col .rectangle{
    height: 60%;
    width: 70%;
    border-radius: 5%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .1% .16% .16% #2c2e2c;
    font-size: 1.5vw;
    padding: 1vw;
    transition: transform .5s;
    box-sizing: border-box;
}

.singleExp .rectangleNSAA .expSkillsNSAABG {
    display: none;
    background-image: url("images/nsaaBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    border-radius: 5%;
}

.singleExp .rectangleNSAA .expSkillsNSAA h4 {
    font-style: none;
    font-size: 1vw;
    color:#323432;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
}

/*
    Hover functionality of the NSAA experience class.
*/
.singleExp .rectangleNSAA:hover {
    background-image: none;
}

.singleExp .rectangleNSAA:hover .expSkillsNSAA{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
}

.singleExp .rectangleNSAA:hover .expSkillsNSAABG{
    width: 45vw;
    height: 30vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*
    Styling for the Website skills component.
*/

.singleExp .rectangleWeb .expSkillsWeb {
    display: none;
    border-radius: 5%;
}

.singleExp .rectangleWeb .expSkillsWebBG {
    display: none;
    background-image: url("images/newMock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    border-radius: 5%;
}

.singleExp .rectangleWeb .expSkillsWeb h4 {
    font-style: none;
    font-size: 1vw;
    color:#323432;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
}

/*
    Hover functionality of the website experience class.
*/
.singleExp .rectangleWeb:hover {
    background-image: none;
}

.singleExp .rectangleWeb:hover .expSkillsWeb{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
}

.singleExp .rectangleWeb:hover .expSkillsWebBG{
    width: 38vw;
    height: 26vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*
    Styling for the Premier skills component.
*/

.singleExp .rectanglePremier .expSkillsPremier {
    display: none;
    border-radius: 5%;
}

.singleExp .rectanglePremier .expSkillsPremierBG {
    display: none;
    background-image: url("images/premierWithBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    border-radius: 5%;
}

.singleExp .rectanglePremier .expSkillsPremier h4 {
    font-style: none;
    font-size: 1vw;
    color:#323432;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
}

/*
    Hover functionality of the Premier experience class.
*/
.singleExp .rectanglePremier:hover {
    background-image: none;
}

.singleExp .rectanglePremier:hover .expSkillsPremier{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
}

.singleExp .rectanglePremier:hover .expSkillsPremierBG{
    width: 33vw;
    height: 33vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*
    Styling for the experience text.
*/

.text h2{
    margin: .5vw;
    font-weight: 100;
    font-size: 4vw;
}

.text h4{
    margin: .5vw;
    font-weight: 100;
    font-size: 2vw;
    font-style: italic;
}

.text p{
    margin: .5vw;
    font-weight: 100;
    font-size: 2vw;
}

.leftLine{
    border-top: .3vw solid #9abaa1;
    color: #9abaa1;
    fill:#9abaa1;
    size: 1vw;
    margin-left: 0;
    opacity: 0;
    padding: 0;
    width: 10vw;
}

.rightLine{
    border-top: .3vw solid #9abaa1;
    color: #9abaa1;
    fill:#9abaa1;
    size: 1vw;
    margin-right: 0;
    opacity: 0;
    padding: 0;
    width: 10vw;
}

.fadeLineIn{
    animation: fadeLineInAnm 2s ease-out;
    opacity: 1; 
}

@keyframes fadeLineInAnm{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*
    Styling for the skill section.
*/

.expSkillsNSAA .rectangle h4{
    font-size: 3vw;
}

.break{
    border-top: .2vw solid #9abaa1;
    color: #5c7361;
    size: 1vw;
    padding: 0;
    width: 40vw;
}

.skillHeading{
    font-size: 5vw;
    font-weight: 30;
    text-align: center;
    font-style: italic;
    padding: 0;
}

.skillImg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4vw;
    padding-bottom: 3vw;
}

.skillImg img{
    width: 5vw;
    height: auto;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vw;
}

/*
    Creates the styling for the footer.
*/
.footer{
    height: 5vw;
    background-color: #6a7d6e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 4vw;
    overflow: hidden;
    z-index: 5;
}

.footer .icons a{
    cursor: pointer;
    text-decoration: none;
}

.footer .icons p{
    font-size: 1.5vw;
    color: #000000a9;
}

footer .icons{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 2vw;
    box-sizing: border-box;
}

footer .icons img{
    position: relative;
    max-width: 2vw;
    height: auto;
    box-sizing: border-box;
}

footer .icons a .p:hover {
    color: var(--secondary-color);
}